<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.electroniccommunicationhandbook">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectronicCommunicationHandbook">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.student.rate.RateTeacherActivity"/>
        <activity android:name=".ui.student.card.CardActivity" />
        <activity android:name=".MainActivity_teacher" />
        <activity android:name=".ui.resetpassword.ResetPasswordSuccessfullyActivity" />
        <activity android:name=".ui.resetpassword.ChangePasswordActivity" />
        <activity android:name=".ui.resetpassword.PasswordResetVerificationActivity" />
        <activity android:name=".ui.resetpassword.GetEmailActivity" />
        <activity android:name=".ui.profile.UpdateSuccessfullyActivity" />
        <activity android:name=".ui.profile.VerifyOTPActivity" />
        <activity android:name=".ui.profile.UpdateProfileActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity
            android:name=".ui.student.notification.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/Theme.ElectronicCommunicationHandbook.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.student.fee.FeeViewActivity"
            android:label="@string/title_activity_fee_view"
            android:theme="@style/Theme.ElectronicCommunicationHandbook.NoActionBar" />
        <activity
            android:name=".ui.student.point.PointViewActivity"
            android:label="@string/title_activity_point_view"
            android:theme="@style/Theme.ElectronicCommunicationHandbook.NoActionBar"></activity>

        <activity android:name=".ui.teacher.list_class.ListClass" />
        <activity android:name=".ui.authentication.login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>+
        </activity>

        <activity android:name=".MainActivity_parent" />
    </application>

</manifest>